<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
   
</head>
<body>

    <h1>Student List</h1>
    <div class="student-list">
        {% for student in students %}
        <div class="student">
            <h2>{{ student.name }}</h2>
            <a href="{% url 'student_detail' student.id %}">View Details</a>
        </div>
        {% endfor %}
    </div>

</body>
</html>
